#container{
    position: relative;

}
body{
    background-image: url('pph.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 1704px 876px;
    
    
}
.photo{
margin: 300px 0px 0px 0px;}
img {
    width: 200px;
    height: 150px;
    padding: 100px 20px;

}
.form{
    position: relative;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 60px;
    overflow: hidden;
    width: 360px;
    height: 540px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}
input[type=text]{
    color: white;
    width: 90%;
    font-size: 12px;
    margin: 10px auto;
    padding: 16px 8px;
    text-align: center;
    border-radius: 6px;
}
input[type=password]{
    color: white;
    width: 90%;
    font-size: 12px;
    margin: 10px auto;
    padding: 16px 8px;
    text-align: center;
    border-radius: 6px;
}
input[type=button]{
    padding: 10px 28px;
    margin: 10px auto;
}